<div class="container m-5 p-5 bg-white rounded-pill">
  <form [formGroup]="form" #test="ngForm" (ngSubmit)="submitRegi(test)">
    <fieldset formGroupName="utente">
      <div>
        <label for="username">Username</label>
        <input formControlName="username" type="text" id="username"/>
        <div *ngIf="controlloType('utente.username')?.invalid && controlloType('utente.username')?.touched">
          <p *ngIf="errorType('utente.username','required')">Il campo e'obbligatorio</p>
        </div>
      </div>
      <div>
        <label for="email">Email</label>
        <input formControlName="email" type="text" id="email"/>
        <div *ngIf="controlloType('utente.email')?.invalid && controlloType('utente.email')?.touched">
          <p *ngIf="errorType('utente.email','required')">Il campo e'obbligatorio</p>
        </div>
      </div>
      <div>
        <label for="pass">Password</label>
        <input formControlName="password" type="text" id="pass" />
        <div *ngIf="controlloType('utente.password')?.invalid && controlloType('utente.password')?.touched">
          <p *ngIf="errorType('utente.password','required')">Il campo e'obbligatorio</p>
          <p *ngIf="errorType('utente.password','minlength')">Il campo deve contenere almeno 8 cifre</p>
        </div>
      </div>
    </fieldset>
    <div>

    </div>
    <button type="submit" [disabled]="!form.valid" class="btn btn-primary">schaccia</button>
  </form>
</div>
