<div class="container">
  <form [formGroup]="form" #test="ngForm" (ngSubmit)="login(test)">
    <fieldset formGroupName="utente">
      <div>
        <label for="email" class="text-white">email</label>
        <input formControlName="email" type="text" id="email"/>
        <ng-container *ngIf="controlloType('utente.email')?.invalid && controlloType('utente.email')?.touched" >
          <p *ngIf="errorType('utente.email','required')" class="text-white">il campo è obbligatorio</p>
        </ng-container>
      </div>
      <div>
        <label for="pass" class="text-white">Password</label>
        <input formControlName="password" type="text" id="pass" />
        <ng-container *ngIf="controlloType('utente.password')?.invalid && controlloType('utente.password')?.touched" >
          <p *ngIf="errorType('utente.password','required')" class="text-white">il campo è obbligatorio</p>
          <p *ngIf="errorType('utente.password','minlength')" class="text-white">Richiede come minimo almeno 8 caratteri</p>
        </ng-container>
      </div>
    </fieldset>
    <div>

    </div>
    <button type="submit" [disabled]="!form.valid">schaccia</button>
  </form>
</div>
